{% extends "base.html" %}

{% block content %}
<h1>Введите данные и узнайте историю участника ВОВ</h1>
<form method="post" action="people_info">
    {{ form.hidden_tag() }}
    <h5>Фамилия</h5>
    <input id="surname" name="surname" size="100" type="text" onkeyup="checkParamsforpeople()">
    <h5>Имя</h5>
    <input id="name" name='name' type="text" size="100" onkeyup="checkParamsforpeople()">
    <h5>Отчество</h5>
    <input id="fathername" name="fathername" type="text" size="100" onkeyup="checkParamsforpeople()">
    <p>
    </p>
    <input id="find" value="Поиск" type="submit"
           class="btn btn-danger" disabled="disabled" onclick="location.href='people_info'">
    <p>
    </p>
    </form>
        <script>
    function checkParamsforpeople() {
    var inp1 = document.getElementById('surname'),
    inp2 = document.getElementById('name'),
    inp3 = document.getElementById('fathername');
    document.getElementById('find').disabled = inp1.value && inp2.value && inp3.value ? false : "disabled";
    }
</script>
<form method="post" action="all_members">
    <input value="Смотреть полный список" type="submit" id="all_people"
           class="btn btn-danger" onclick="location.href='all_members'">
    </form>
    <p>
<form method="post" action="admin">
    <h5>Войти как администратор</h5>
    <h6>Логин</h6>
    <input id='email' name="email"  placeholder="Введите логин"
           type="email" size="45" onkeyup="checkParams()">
    <h6>Пароль</h6>
    <input id="password" name="password" placeholder="Введите пароль"
           type="password" size="45" onkeyup="checkParams()">
    <p></p>
    <input id="come_in" value="Войти" type="submit" class="btn btn-danger"
           disabled="disabled" onclick="location.href='admin'">
</form>
    <p>
    <script>
    function checkParams() {
    var inp1 = document.getElementById('email'),
    inp2 = document.getElementById('password');
    document.getElementById('come_in').disabled = inp1.value && inp2.value ? false : "disabled";
    }
</script>
    </p>
<p></p>
<img src="static/img/line.jpg" width="1100" height="300">
{% endblock %}
