{% extends "base.html" %}

{% block content %}
<h1>Введите данные и узнайте историю участника ВОВ</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h5>Фамилия</h5>
    <input id="surname" size="100" type="text" onkeyup="checkParamsforpeople()">
    <h5>Имя</h5>
    <input id='name' type="text" size="100" onkeyup="checkParamsforpeople()">
    <h5>Отчество</h5>
    <input id="fathername" type="text" size="100" onkeyup="checkParamsforpeople()">
    <p>
        <p>
    <input id="find"  value="Поиск" type="button" class="btn btn-danger" disabled="disabled" onclick="location.href='people_info'">
    </p>
        <script>
    function checkParamsforpeople() {
    var inp1 = document.getElementById('surname'),
    inp2 = document.getElementById('name'),
    inp3 = document.getElementById('fathername');
    document.getElementById('find').disabled = inp1.value && inp2.value && inp3.value ? false : "disabled";
    }
</script>
    <input value="Смотреть полный список" type="button" class="btn btn-danger" onclick="location.href='all_members'">
    <p>
    <h5>Войти как администратор</h5>
    <h6>Логин</h6>
    <input id='email' class="form-control" type="email" size="45" onkeyup="checkParams()">
    <h6>Пароль</h6>
    <input id="password" class="form-control" type="password" size="45" onkeyup="checkParams()">
    <p>
    <script>
    function checkParams() {
    var inp1 = document.getElementById('email'),
    inp2 = document.getElementById('password');
    document.getElementById('come_in').disabled = inp1.value && inp2.value ? false : "disabled";
    }
</script>
    <p>
    <input id="come_in"  value="Войти" type="button" size="1" class="btn btn-danger" disabled="disabled" onclick="location.href='admin'">

{% endblock %}
