<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
{% for item in people%}
{% if item.id %}
<div>
<div class="col-md6 border rounded">
    <div>
        <h1>{{item.surname}} {{item.name}} {{item.fathername}}</h1>
        <h3>Годы жизни:</h3>{{item.years_of_life}}
        <h3>Звание:</h3>{{item.grade}}
        <h3>Место смерти:</h3>{{item.place_of_death}}
    </div>
</div>
<div id="map" style="width: 900px; height: 500px"></div>
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
  var myMap;
  ymaps.ready(init); // Ожидание загрузки API с сервера Яндекса
  function init () {
    myMap = new ymaps.Map("map", {
      center: [55.76, 37.64],
      zoom: 3 // Zoom
    });
    ymaps.geoQuery(ymaps.regions.load("RU", {
    lang: "ru"
})).search('properties.hintContent = "{{item.place_of_death}}"').addToMap(myMap);
  }

</script>
</div>
{% else %}
<div>
    <h1>Данных не обнаружено</h1>
</div>
{% endif %}
{% endfor %}
</body>
</html>